<a routerLink="/hall-list">
  '
  <button class="pay-button" mat-raised-button color="primary">Back</button>
</a>
<div *ngIf="selectedSeats.length > 0">
  <button class="pay-button" mat-raised-button color="primary" (click)="changeSeatType()">Change Status</button>
</div>

<p>
  {{hall.name}}
</p>
<div>
  <mat-card-content class="demo-basic-list">
    <mat-grid-list cols="10" rowHeight="2:1">
      <mat-grid-tile *ngFor="let seat of seats" (click)="seatClick(seat)" [ngSwitch]="getStatus(seat)">
        <!-- Selected Seats -->
        <span *ngSwitchCase="'selected'" class="selectedSeat">
          <mat-icon>done_outline</mat-icon>
        </span>
        <!-- Free Seats -->
        <span *ngSwitchDefault>
          <!-- Free Vip Seats -->
          <div  *ngIf="seat.type ==='VIP'">
              <mat-icon class="VIPSeat">check_box_outline_blank</mat-icon>
          </div>
          <!-- Free Base Seats -->
          <div *ngIf="seat.type === 'base'">
              <mat-icon class="freeSeat">check_box_outline_blank</mat-icon>
          </div>
        </span>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</div>