.selectedSeat {
    color: #09d11a;
}
.freeSeat {
    color: rgb(9, 6, 143);
}

.VIPSeat{
    color: #d10956;
}

.dInline{
    display: inline;
}

.pay-button{
    font-size: 16px;
    font-family:Calibri;
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;     
  }

  .pricePosition{
    display: flex;
    justify-content: center;
    
  }

  .widthOfHallPage{
    min-width: 100%;
  }
  .closeClear{
    display: flex;
    justify-content: flex-end; 
}

.textView{
    font-size: 16px;
    font-family:Calibri;
}