<div class="my-wrapper">

    <form class="search-form">
        <mat-form-field>
            <input matInput placeholder="Search by Film" [(ngModel)]="searchFilm" [ngModelOptions]="{standalone: true}">
            <button mat-button *ngIf="searchFilm" matSuffix mat-icon-button aria-label="Clear" (click)="searchFilm=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Search by Date" [(ngModel)]="searchDate" [ngModelOptions]="{standalone: true}">
            <button mat-button *ngIf="searchDate" matSuffix mat-icon-button aria-label="Clear" (click)="searchDate=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field *ngIf="authService.isManager">
            <input matInput placeholder="Search by Email" [(ngModel)]="searchUser" [ngModelOptions]="{standalone: true}">
            <button mat-button *ngIf="searchUser" matSuffix mat-icon-button aria-label="Clear" (click)="searchUser=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button mat-button (click)="showMyTickets()" *ngIf="authService.isManager">My tickets</button>
        <button mat-button (click)="getAllTickets()" *ngIf="authService.isManager">All tickets</button>
    </form>

    <!-- <mat-paginator [length]="tickets?.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getServerData($event)">
    </mat-paginator> -->


    <!-- <mat-table [dataSource]="dataSource" matSort> -->

    <ng-container *ngFor="let ticket of tickets|ticketFilter:searchFilm:searchUser:searchDate">
    <!-- <ng-container *ngFor="let ticket of tickets"> -->

        <div class="ticket">

            <div class="h-block-1">
                <div class="film-name">
                    <p>{{ticket.filmName}}</p>
                </div>
                <div class="tech">
                    <p>Technology: {{ticket.tech}}</p>
                </div>
                <div class="date-time">
                    <div>
                        <p>Time: {{ticket.sessionTime}}</p>
                    </div>
                    <div>
                        <p>Date: {{ticket.sessionDate | date:'dd-MM-yyyy'}}</p>
                    </div>
                </div>
            </div>

            <div class="h-block-2">
                <div class="hall-name">
                    {{ticket.hallName}} hall
                </div>
                <div class="seat" *ngIf="ticket.seatRow !== 0">
                    <div class="seat-block">
                        <p>Row</p>
                        <br>
                        <p style="font-weight: 500; font-size: 25px">{{ticket.seatRow}}</p>
                    </div>
                    <div class="seat-block">
                        <p>Seat</p>
                        <br>
                        <p style="font-weight: 500; font-size: 25px">{{ticket.seatNumber}}</p>
                    </div>
                </div>
                <div class="seat-block-virtual" *ngIf="ticket.seatRow === 0">
                    VIRTUAL
                </div>
            </div>

            <div class="h-block-3">
                <div class="ticket-price">
                    <p>Price : {{ticket.price}} UAH</p>
                </div>
                <div class="barcode-pic">
                    <ngx-barcode [bc-value]="ticket.barcode" [bc-display-value]="false" [bc-width]="0.8" [bc-height]="45" [bc-margin]="0"></ngx-barcode>
                </div>
                <div class="ticket-barcode">
                    <p>{{ticket.barcode}}</p>
                </div>
            </div>

            <div class="h-block-4">
                <button class="ticket-button" mat-button (click)="select(ticket.id)">Select</button>
                <button class="ticket-button" mat-button (click)="delete(ticket)" *ngIf="authService.isManager">Remove</button>
            </div>

        </div>
    </ng-container>

</div>