<div class="widthOfHallPage">

  <!-- Information about film -->
  <div class="order-cart">
    <mat-card-title>
      <p>
        <mat-icon>movie</mat-icon> {{session.title}}
        <br>
        <mat-icon>event</mat-icon> {{session.date}}
        <br>
        <mat-icon>query_builder</mat-icon> {{session.startTime}}
      </p>
    </mat-card-title>

    <!-- Pay and clean buttons -->
    <mat-card-title>
      <div *ngIf="selectedSeats.length > 0">
        <div>
          <a routerLink="/cart">
            <button class="pay-button" mat-raised-button color="primary" (click)="throwSelectedSeatsToCart()">Add to cart</button>
          </a>
        </div>
        <div>
          <button class="pay-button" mat-button (click)="cleanSelect()">Clean list</button>
        </div>
      </div>
    </mat-card-title>

    <!-- List of seleted tickets -->
    <div>
      <mat-card-content *ngFor="let seat of selectedSeats, let i = index">
        <button mat-button (click)="removeSeatFromSelectedSeats(seat)">
          {{i+1}}. number: {{seat.number}} row: {{seat.row}} type: {{seat.type}} price: {{seat.price}}₴;
        </button>
        <br>
      </mat-card-content>
    </div>
  </div>
  <div class="divPossition">
    <mat-card-content class="demo-basic-list">
      <!-- Screen image -->
      <div>
        <img src="../../../assets/pictures/screen.png" title="screen" style="width: 700px">
      </div>

      <!-- VIP and base seats icons -->
      <div class="pricePosition">
        <p class="freeSeat">{{session.basePrice}} ₴</p>
        <p> &emsp; | &emsp;</p>
        <p class="VIPSeat">{{session.vipPrice}} ₴</p>
      </div>

      <!-- Grid of seats -->
      <mat-grid-list cols="10" rowHeight="2:1">
        <mat-grid-tile *ngFor="let seat of seats" (click)="seatClick(seat)" [ngSwitch]="getStatus(seat)">
          <!-- Selected Seats -->
          <span *ngSwitchCase="'selected'" class="selectedSeat">
            <mat-icon>check_box</mat-icon>
          </span>
          <!-- Bought Seats -->
          <span *ngSwitchCase="'buy'" class="boughtSeat">
            <mat-icon>indeterminate_check_box</mat-icon>
          </span>
          <!-- Free Seats -->
          <span *ngSwitchDefault>
            <!-- Free Vip Seats -->
            <div *ngIf="seat.type ==='VIP'">
              <mat-icon class="VIPSeat" title="row: {{seat.row}}, number: {{seat.number}}, price: {{seat.price}}">check_box_outline_blank</mat-icon>
            </div>
            <!-- Free Base Seats -->
            <div *ngIf="seat.type === 'base'">
              <mat-icon title={{seat.type}} class="freeSeat" title="row: {{seat.row}}, number: {{seat.number}}, price: {{seat.price}}">check_box_outline_blank</mat-icon>
            </div>
          </span>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </div>
</div>


<div>
    <button mat-raised-button  color="primary" (click)="openDialog()">Pick one</button>
</div>