.boughtSeat {
    color: #636060;
    cursor: no-drop;
}
.selectedSeat {
    color: #09d11a;
}
.freeSeat {
    color: rgb(9, 6, 143);
}

.VIPSeat{
    color: #d10956;
}

.divPossition{
    cursor: pointer;
    width: 700px;
    float: right;
    margin-left: 10px;
    margin-right: 100px;
    margin-top: 100px;

}
.order-cart {
    max-width: 295px;
    margin: auto;
    width: 50%;
    margin-top: 10px;
    float: left;
  }

  .pay-button{
    width: 100%;
    display: flex;
    justify-content: center;     
  }

  .widthOfHallPage{
    min-width: 800px;
  }

  p{
      color: #0a0324;
      display: inline;
      font-size: 24px;
      font-family:Calibri;
  }
  .ppp{
    display: inline;
  }

  .pricePosition{
    display: flex;
    justify-content: center;
    
  }

  .full-width {
    width: 100%;
  }

  .hall-card {
    max-width: 400px;
    margin: auto;
    width: 50%;
    margin-top: 10px;
  }