.boughtSeat {
    color: #636060;
    cursor: no-drop;
}
.selectedSeat {
    color: #09d11a;
}
.freeSeat {
    color: rgb(9, 6, 143);
}

.VIPSeat{
    color: #d10956;
}

.divPossition{
    border: 1px solid red;
    margin-top: 100px;
    
    cursor: pointer;
    width: 700px;
    float: right;

}
.order-cart {
    border: 1px solid red;
    max-width: 295px;
    width: 50%;
    float: left;
  }

  .pay-button{
    width: 100%;
    display: flex;
  }

  .widthOfHallPage{
    min-width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  p{
      display: inline;
      font-size: 18px;
  }

  .pricePosition{
    
  }

