.rightButton {
    font-size: 16px;
    font-family:Calibri;
    display: flex;
    justify-content:space-between; 
}

.hallCart {
    max-width: 600px;
    margin: auto;
    width: 50%;
    margin-top: 10px;
  }

  .hallInf{
      font-size: 16px;
  }

  .pay-button{
    font-size: 16px;
    font-family:Calibri;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: center;     
  }