<mat-card class="hallCart">
  <div *ngIf = "authService.isManager">
    <a routerLink="/session-list">
      <button class="pay-button" mat-raised-button color="primary">Back</button>
    </a>
    <button class="pay-button" mat-raised-button color="primary" (click) = "createHall()">Add hall</button>
  </div>
  <div *ngFor="let hall of halls">
    <mat-card class="rightButton">
      <div class="hallInf">
        Id: {{hall.id}}
        <br> Name: {{hall.name}} hall
        <br> Seats: {{hall.capacity}}
        <br> Technology: {{hall.tech}}
      </div>
      <div *ngIf = "authService.isManager">
          <button class="pay-button" mat-raised-button color="primary" (click)="throwHallIdToStorage(hall.id)">Edit</button>
          <button class="pay-button" mat-raised-button color="primary" (click)="removeHall(hall)">Remove</button>
      </div>
    </mat-card>
  </div>
</mat-card>