<mat-card class="ticket-card">
    <mat-card-header>
        <mat-card-title>HyperCinema Ticket</mat-card-title>
        <mat-card-subtitle>Lviv</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="ticket-column">
            <div class="ticket-row n1">
                {{ticket.id}}
            </div>
            <div class="ticket-row n2">

            </div>
            <div class="ticket-row n3">

            </div>
            <div class="ticket-row n4">

            </div>
            <div class="ticket-row n5">

            </div>
            <div class="ticket-row n6">

            </div>
            <div class="ticket-row n7">

            </div>
        </div>
    </mat-card-content>
</mat-card>