.boughtSeat {
    color: #be0909;
}
.selectedSeat {
    color: #09d11a;
}
.freeSeat {
    color: rgb(9, 6, 143);
}
.divPossition{
    float: left;
}
.cleanPossition{
    display: flex;
    justify-content: flex-end;    
}

.seatSize{
    width: 2px;
    height: 2px;
}

