<div>

  <div class="divPossition" style="width: 30%; height: 100%;">
    <mat-card>
      <mat-card-title>Selected Seats</mat-card-title>
      <div class="cleanPossition" *ngIf = "selectedSeats.length > 0">
        <button mat-raised-button (click) = "throwSelectedSeatsToOrder()">Pay order</button>  
        <button mat-raised-button (click) = "cleanSelect()">Clean list</button>
      </div>
      <br>
      <mat-card-content class="demo-basic-list" *ngFor="let seat of selectedSeats, let i = index">
        <span>
          number: {{seat.number}} row: {{seat.row}} type: {{seat.type}} price: 100;
        </span>
      </mat-card-content>
    </mat-card>
    
  </div>



  <div class="divPossition" style="width: 70%">
    <mat-card>
      <mat-card-title>Hall</mat-card-title>
      <mat-card-content class="demo-basic-list">
        <mat-grid-list cols="10">
          <mat-grid-tile *ngFor="let seat of seats" (click)="seatClick(seat)" 
                  [ngSwitch]="getStatus(seat, session)">
            <span *ngSwitchCase="'selected'" class="selectedSeat">{{seat.number}}</span>
            <span *ngSwitchCase="'bought'" class="boughtSeat">{{seat.number}}</span>
            <span *ngSwitchDefault class="freeSeat">{{seat.number}}</span>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>