<div>


  <div class="divPossition" style="width: 265px; height: 100%">
    About movie
    <div *ngIf="storedSeats.length > 0">
      <mat-card-content *ngFor="let seat2 of storedSeats">
        {{seat2.row}}
        HELLO!
      </mat-card-content>
    </div>

    <div *ngIf="selectedSeats.length > 0">
      <button mat-button (click)="throwSelectedSeatsToOrder()">Pay order</button>
      <button mat-button (click)="cleanSelect()">Clean list</button>
    </div>
    <br>

    <div>
      <mat-card-content class="demo-basic-list" *ngFor="let seat of selectedSeats, let i = index">
        <button mat-button (click)="removeSeatFromSelectedSeats(seat)">
          {{i+1}}. number: {{seat.number}} row: {{seat.row}} type: {{seat.type}} price: 100;
        </button>
        <br>
      </mat-card-content>
    </div>

  </div>


  <div class="divPossition" style="width: 66%">
    <mat-card-content class="demo-basic-list">
      <mat-grid-list cols="10">
        <mat-grid-tile class="seatSize" *ngFor="let seat of seats" (click)="seatClick(seat)" [ngSwitch]="getStatus(seat, session)">
          <span *ngSwitchCase="'selected'" class="selectedSeat">{{seat.number}}</span>
          <span *ngSwitchCase="'bought'" class="boughtSeat">{{seat.number}}</span>
          <span *ngSwitchDefault class="freeSeat">{{seat.number}}</span>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </div>

</div>