div {
    margin-bottom: 12px;
}

.closeClear{
    display: flex;
    justify-content: flex-end; 
}

.full-width {
    width: 100%;
  }

  .submitButton{
    font-size: 16px;
    font-family:Calibri;
    display: flex;
    justify-content:flex-end;
    margin-right: 35px; 
}

.hallCreated{
    font-size: 16px;
    font-family:Calibri;
    display: flex;
    justify-content:center;
    font-family: Calibri, 'Trebuchet MS';
    font-size: 16px;
}