<!-- <div class="hall-card">
  <form class="full-width example-container" (ngSubmit)="submitCreateHall()">
    <table class="full-width" cellspacing="0">
      <tr>
        <th>
          <mat-form-field>
            <input type="text" matInput placeholder="Hall name" formControlName="hallName" pattern="[A-Za-z]{3,}" required>
          </mat-form-field>
        </th>
        <th>
          <mat-form-field>
            <input type="text" matInput placeholder="Technology" formControlName="tech" pattern="[A-Za-z]{2,}" required>
          </mat-form-field>
        </th>
        <th>
          <mat-form-field>
            <input type="number" matInput placeholder="Capacity" formControlName="capacity" min="0" step="10" required>
          </mat-form-field>
        </th>
        <th>
          <mat-form-field>
            <input type="text" matInput placeholder="Type" formControlName="type" required>
          </mat-form-field>
        </th>
      </tr>
    </table>
    <p>
      <button mat-raised-button type="submit" color="primary">Submit</button>
    </p>
  </form>
</div> -->

<div>
  Hello!
</div>