<div class="hall-card">
  <div class="closeClear">
    <button mat-icon-button mat-dialog-close>
      <mat-icon> clear</mat-icon>
    </button>
  </div>
  <form class="full-width example-container" [formGroup]="hallForm" (ngSubmit)="submitCreateHall()">
    <table class="full-width" cellspacing="0">
      <tr>
        <th>
          <mat-form-field>
            <input type="text" matInput placeholder="Hall name" formControlName="hallName" pattern="[A-Za-z]{3,}" required>
          </mat-form-field>
        <th>
          <mat-form-field>
            <input type="text" matInput placeholder="Technology" formControlName="tech" pattern="[1-9A-Za-z]{2,}" required>
          </mat-form-field>
        </th>
        <th>
          <mat-form-field>
            <input type="number" matInput placeholder="Capacity" formControlName="capacity" min="0" step="10" required>
          </mat-form-field>
        </th>
      </tr>
    </table>
    <div *ngIf="message ==='CREATED'" class="hallCreated" style="color: rgb(2, 119, 17);">
      Hall successfully created!
    </div>
    <div *ngIf="message ==='ERROR'" class="hallCreated" style="color: rgb(138, 4, 4);">
      Something went wrong. Try again
    </div>
    <div class="submitButton">
      <button mat-raised-button type="submit" [disabled]="hallForm.invalid" color="primary">Create hall</button>
    </div>
  </form>
</div>