<mat-card>
  <h1>List of Coefficients</h1>
   <mat-card-content>
     <mat-list>
         <input type = "text" [(ngModel)]="searchText" placeholder="Search text goes here">
       <mat-list-item *ngFor="let coefficient of coefficients | coefficientFilter : searchText"> 
          <a [routerLink] = "['/coefficient/', coefficient.id]">
            {{coefficient?.type}}   {{coefficient?.value}}</a>
          <input type="button" value="Edit" [routerLink] = "['/coefficient-edit/', coefficient.id]">
          <input type="button" value="Delete" (click) = "deleteCoefficient(coefficient.id)" [routerLink] = "['/coefficients']">
       </mat-list-item>
     </mat-list>
     <input type="button" value="Create" [routerLink] = "['/coefficient-create']">
   </mat-card-content>
 </mat-card>