<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="full-width" [formGroup]="loginForm" (ngSubmit)="submit()">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="formControls.email.errors?.required">
                Email is required
              </mat-error>
              <mat-error *ngIf="formControls.email.errors?.email">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" required>
              <mat-error *ngIf="formControls.password.errors?.required">
                Password is required
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <p>
          <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid || submitting">Login</button>
      </p>
      <div *ngIf="submitting" class="login-progress">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div *ngIf="loginFailed" class="login-error">
        Incorrect login or password
      </div>
    </form>
    <p *ngIf="errorMessage" class="login-error">
      {{ errorMessage }}
    </p>
  </mat-card-content>
</mat-card>
