<header>
    <input type = "text" [(ngModel)]="searchText" placeholder="search text goes here" class="searchBox">
    <input type="button" value="Create" [routerLink] = "['/movie-create']" class="inputButton">
</header>


<mat-list-item *ngFor="let movie of movies | filter : searchText" class="movieList">
  
<mat-card class="example-card">
  <mat-card-header>
        <mat-card-title>
            <a [routerLink] = "['/movie/' + movie.id]" id="titleText">{{movie?.title}}</a>
          </mat-card-title>

    <mat-card-subtitle>{{movie?.genre}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src] = "movie?.imgUrl" alt="Photo">
  
  <mat-card-content>
    <p>
      {{movie.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink] = "['/movie-create/' + movie.id]">Edit</button>
    <button mat-button (click) = "deleteMovie(movie.id)" [routerLink] = "['/movies']" >Delete</button>
  </mat-card-actions>
</mat-card>
</mat-list-item>
